
.header {
    padding: 5px;
    background-color: black;
    color: white;
}

.header h3 {
    margin: 0;
    margin-top: 3px;
}

.header .cell {
    padding: 0;
}

.userAvatar {
    margin-left: 10px;
}


