body {
    background-color: #444444;
}

.header {
    padding: 5px;
    background-color: black;
    color: white;
}

.header h3 {
    margin: 0;
    margin-top: 3px;
}

.header .cell {
    padding: 0;
}

.userAvatar {
    margin-left: 10px;
}

.content {

    padding: 20px;
}

.content .cell {
    background-color: #8d959a;
    min-height: 600px;
    padding: 10px;
}

.tocItem {
    margin-bottom: 5px;
    padding: 4px;
    cursor: pointer;
}

.tocItem.selected {
    background-color: #a5adb2;
    cursor: initial
}



